<div th:fragment="adminEditionList" class="adminEditionList">
    <div class="container mt-5 pt-5 mb-1 pb-1">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <!-- Add new edition button -->
            <div class="d-flex justify-content-end">
                <form method="get" action="/admin/edition/new-edition">
                    <button type="submit" class="btn btn-success btn-sm mx-2 mb-3"
                            th:text="#{edition.add}">
                    </button>
                </form>
            </div>

            <table class="table table-hover align-middle mb-0 bg-white">
                <thead class="bg-light">
                <tr>
                    <th class="col-2 text-center fs-5" scope="col" id="title_image"
                        th:text="#{edition.magazine}">
                    </th>

                    <th class="col-5 text-center fs-5" scope="col" id="title">
                        <a class="nav-link" onclick="executeUrlParameter('orderBy', 'title')"
                           th:text="#{edition.title}">
                        </a>
                    </th>

                    <th class="col-2 text-center" scope="col" id="genres">
                        <form action="/" method="get">
                            <select class="form-select" id="genreFilter" name="genreFilter"
                                    onchange="executeUrlParameter('genreFilter', this.options[selectedIndex].value)">
                                <option value="0"
                                        th:text="#{edition.genre}">
                                </option>

                                <option th:each="genre:${genreList}"
                                        th:value="${genre.id}"
                                        th:selected="(${genre.id} == ${#httpServletRequest.getParameter('genreFilter')})"
                                        th:utext="__${#locale}__ =='ua'? ${genre.nameUa} : ${genre.nameEn}">
                                </option>
                            </select>
                        </form>
                    </th>

                    <th class="nav-item text-center fs-5" scope="col" id="price">
                        <a class="nav-link" onclick="executeUrlParameter('orderBy', 'price')"
                           th:text="#{edition.price}">
                        </a>
                    </th>

                    <div sec:authorize="isAuthenticated()">
                        <th class=" col-2 text-center fs-5" scope="col" id="edit"
                            th:text="#{edition.edit}">
                        </th>
                        <th class=" col-2 text-center fs-5" scope="col" id="delete"
                            th:text="#{edition.delete}">
                        </th>
                    </div>
                </tr>
                </thead>

                <tbody class="table-group-divider">


                <tr th:each="edition :${editionList}" th:id="${edition.id}">
                    <td>
                        <div class="d-flex align-items-center">
                            <img th:src="${edition.titleImage}" alt="${edition.titleEn}" style="width: 160px"
                                 onerror="this.onerror=null;this.src='../../static/img/empty_title_placeholder/No_Image_Placeholder.jpg';"/>
                        </div>
                    </td>

                    <td>
                        <p class="fw-bold">
                        <div th:text="__${#locale}__ =='ua'? ${edition.titleUa} : ${edition.titleEn}"></div>
                        </p>
                        <p class="text-muted mb-0 pe-5">
                        <div th:text="__${#locale}__ =='ua'? ${edition.textUa} : ${edition.textEn}"></div>
                        </p>
                    </td>

                    <td class="text-center">
                        <span class="badge text-bg-success fs-6">
                            <div th:each="genre:${genreList}">
                                <div th:if="${edition.genre.id} == ${genre.id}"
                                     th:text="__${#locale}__ =='ua'? ${genre.nameUa} : ${genre.nameEn}">
                                </div>
                            </div>
                        </span>
                    </td>

                    <td class="text-center">
                        <div class="fw-bold fs-5"
                             th:text="${edition.price}">
                        </div>
                    </td>

                    <div sec:authorize="isAuthenticated()">
                        <!-- Edit button -->
                        <td class="text-center">
                            <div class="d-flex justify-content-center">
                                <form class="container" action="/admin/edition/edit" method="get">
                                    <div class="clearfix">
                                        <button type="submit" name="edit_edition_id" th:value="${edition.id}"
                                                class="btn btn-warning btn-sm fw-bold mx-1"
                                                th:text="#{edition.edit}">
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </td>

                        <!-- Delete button -->
                        <td class="text-center">
                            <div class="d-flex justify-content-center">
                                <form class="container" action="/admin/edition/delete" method="post">
                                    <div class="clearfix">
                                        <button type="submit" name="delete_edition_id" th:value="${edition.id}"
                                                class="btn btn-danger btn-sm fw-bold mx-1"
                                                th:text="#{edition.delete}">
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </td>

                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="../../static/js/addUrlParameter.js"></script>


</div>