<div th:fragment="editionList" class="editionList">
    <div class="container mt-5 pt-5 mb-1 pb-1">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <table class="table table-hover align-middle mb-0 bg-white">
                <thead class="bg-light">
                <tr>
                    <th class="col-2 text-center fs-5" scope="col" id="title_image"
                        th:text="#{edition.magazine}">
                    </th>

                    <th class="col-5 text-center fs-5" scope="col" id="title">
                        <a class="nav-link" onclick="executeUrlParameter('orderBy', 'title')"
                           th:text="#{edition.title}">
                        </a>
                    </th>

                    <th class="col-2 text-center" scope="col" id="genres">
                        <form action="/" method="get">
                            <select class="form-select" id="genreFilter" name="genreFilter"
                                    onchange="executeUrlParameter('genreFilter', this.options[selectedIndex].value)">
                                <option value="0"
                                        th:text="#{edition.genre}">
                                </option>

                                <option th:each="genre:${genreList}"
                                        th:value="${genre.id}"
                                        th:selected="(${genre.id} == ${#httpServletRequest.getParameter('genreFilter')})"
                                        th:utext="__${#locale}__ =='ua'? ${genre.nameUa} : ${genre.nameEn}">
                                </option>
                            </select>
                        </form>
                    </th>

                    <th class="nav-item text-center fs-5" scope="col" id="price">
                        <a class="nav-link" onclick="executeUrlParameter('orderBy', 'price')"
                           th:text="#{edition.price}">
                        </a>
                    </th>

                    <div sec:authorize="isAuthenticated()">
                        <th class=" col-2 text-center fs-5" scope="col" id="buy"
                            th:text="#{edition.buy}">
                        </th>
                    </div>

                </tr>
                </thead>

                <tbody class="table-group-divider">

                <tr th:each="edition :${editionList}" th:id="${edition.id}">
                    <td>
                        <div class="d-flex align-items-center">
                            <img th:src="${edition.titleImage}" alt="${edition.titleEn}" style="width: 160px"
                                 onerror="this.onerror=null;this.src='../../static/img/empty_title_placeholder/No_Image_Placeholder.jpg';"/>
                        </div>
                    </td>

                    <td>
                        <p class="fw-bold">
                        <div th:text="__${#locale}__ =='ua'? ${edition.titleUa} : ${edition.titleEn}"></div>
                        </p>
                        <p class="text-muted mb-0 pe-5">
                        <div th:text="__${#locale}__ =='ua'? ${edition.textUa} : ${edition.textEn}"></div>
                        </p>
                    </td>

                    <td class="text-center">
                        <span class="badge text-bg-success fs-6">
                            <div th:each="genre:${genreList}">
                                <div th:if="${edition.genre.id} == ${genre.id}"
                                     th:text="__${#locale}__ =='ua'? ${genre.nameUa} : ${genre.nameEn}">
                                </div>
                            </div>
                        </span>
                    </td>

                    <td class="text-center">
                        <div class="fw-bold fs-5"
                             th:text="${edition.price}">
                        </div>
                    </td>

                    <div sec:authorize="isAuthenticated()">
                        <!-- Buy button -->
                        <td class="text-center">
                            <div class="d-flex justify-content-center">
                                <form class="container" action="/buy" method="get">
                                    <div class="clearfix">
                                        <button type="submit" name="buy_edition_id" th:value="${edition.id}"
                                                class="btn btn-primary mx-1"
                                                th:text="#{edition.buy}">
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="../../static/js/addUrlParameter.js"></script>

</div>
