<div th:fragment="editionList" class="editionList">
    <div class="container mt-5 pt-5 mb-1 pb-1">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <table class="table table-hover align-middle mb-0 bg-white">
                <thead class="bg-light">
                <tr>
                    <th class="col-2 text-center fs-5" scope="col" id="title_image"
                        th:text="#{edition.magazine}">
                    </th>

                    <th class="col-5 text-center fs-5" scope="col" id="title">
                        <a class="nav-link" onclick="executeUrlParameter('orderBy', 'title')"
                           th:text="#{edition.title}">
                        </a>
                    </th>

                    <th class="col-2 text-center" scope="col" id="genres">
                        <form action="/" method="get">
                            <select class="form-select" id="genreFilter" name="genreFilter"
                                    onchange="executeUrlParameter('genreFilter', this.options[selectedIndex].value)">
                                <option value="0" ${requestScope.genreFilter eq
                                '0' ? 'selected' : ''} >
                                <fmt:message key="edition.genre" bundle="${locale}"/>
                                </option>
                                <c:forEach items="${requestScope.genresList}" var="genre">
                                    <c:set var="genreId" value="${genre.id}"/>
                                    <c:choose>
                                        <c:when test="${language == 'ua'}">
                                            <option value="${genreId}" ${requestScope.genreFilter eq genreId ?
                                            'selected' : ''}>
                                            ${genre.genreUa}
                                            </option>
                                        </c:when>
                                        <c:otherwise>
                                            <option value="${genreId}" ${requestScope.genreFilter eq genreId ?
                                            'selected' : ''}>
                                            ${genre.genreEn}
                                            </option>
                                        </c:otherwise>
                                    </c:choose>
                                </c:forEach>
                            </select>
                        </form>
                    </th>

                    <th class="nav-item text-center fs-5" scope="col" id="price">
                        <a class="nav-link" onclick="executeUrlParameter('orderBy', 'price')"
                           th:text="#{edition.price}">
                        </a>
                    </th>

                    <!--                <c:if test="${sessionScope.user.role eq '3' or sessionScope.user.role eq '2'}">-->
                    <th class=" col-2 text-center fs-5" scope="col" id="buy"
                        th:text="#{edition.buy}">
                    </th>
                    <!--                </c:if>-->
                </tr>
                </thead>

                <tbody class="table-group-divider">

                <tr th:each="edition :${editionList}" th:id="${edition.id}">
                    <td>
                        <div class="d-flex align-items-center">
                            <img th:src="${edition.titleImage}" alt="${edition.titleEn}" style="width: 160px"
                                 onerror="this.onerror=null;this.src='../../static/img/empty_title_placeholder/No_Image_Placeholder.jpg';"/>
                        </div>
                    </td>

                    <td>
                        <p class="fw-bold">
                        <div th:text="__${#locale}__ =='ua'? ${edition.titleUa} : ${edition.titleEn}"></div>
                        </p>
                        <p class="text-muted mb-0 pe-5">
                        <div th:text="__${#locale}__ =='ua'? ${edition.textUa} : ${edition.textEn}"></div>
                        </p>
                    </td>

                    <td class="text-center">
                        <span class="badge text-bg-success fs-6">
                        <c:set var="key" value="${edition.genreId}"/>
                        <c:forEach var="genre" items="${requestScope.genresList}">
                            <c:choose>
                                <c:when test="${genre.id == key}">
                                    <c:choose>
                                        <c:when test="${language == 'ua'}">
                                            <c:out value="${genre.genreUa}"/>
                                        </c:when>
                                        <c:otherwise>
                                            <c:out value="${genre.genreEn}"/>
                                        </c:otherwise>
                                    </c:choose>
                                </c:when>
                            </c:choose>
                        </c:forEach>
                        </span>
                    </td>

                    <td class="text-center">
                        <div class="fw-bold fs-5"
                             th:text="${edition.price}">
                        </div>
                    </td>

                    <c:if test="${sessionScope.user.role eq '3' or sessionScope.user.role eq '2'}">
                        <!-- Buy button -->
                        <td class="text-center">
                            <div class="d-flex justify-content-center">
                                <form class="container" action="/buy" method="get">
                                    <div class="clearfix">
                                        <button type="submit" name="buy_edition_id" th:value="${edition.id}"
                                                class="btn btn-primary mx-1"
                                                th:text="#{edition.buy}">
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </c:if>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function openFrame(value) {
            document.getElementById(value).style.display = 'block'
        }
    </script>

    <script src="../../static/js/addUrlParameter.js"></script>

</div>
