<div th:fragment="userList" class="userList">
<div class="container mt-5 pt-5 mb-1 pb-1">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <table class="table table-hover align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th class="col-2 text-center fs-5" scope="col" id="login"
                    th:text="#{user.login}">
                </th>

                <th class="col-2 text-center fs-5" scope="col" id="email"
                    th:text="#{user.email}">
                </th>

                <th class="col-2 text-center fs-5" scope="col" id="name"
                    th:text="#{user.name}">
                </th>

                <th class="col-2 text-center fs-5" scope="col" id="balance"
                    th:text="#{user.balance}">
                </th>

                <th class="col-2 text-center fs-5" scope="col" id="role"
                    th:text="#{user.role}">
                </th>


                <th class=" col-2 text-center fs-5" scope="col" id="buy"
                    th:text="#{user.status}">
                </th>

            </tr>
            </thead>

            <tbody class="table-group-divider">
                <tr th:each="user :${userList}" th:id="${user.id}">
                    <td class="text-center">
                        <div class="fw-bold fs-5"
                             th:text="${user.username}">
                        </div>
                    </td>

                    <td class="text-center">
                        <div class="fs-5"
                             th:text="${user.email}">
                        </div>
                    </td>

                    <td class="text-center">
                        <div class="fs-5" th:text="${user.firstName}">
                            ${userM.name}
                        </div>
                    </td>

                    <td class="text-center">
                        <div class="fw-bold fs-5"
                             th:text="${user.balance}">
                        </div>
                    </td>

                    <td class="text-center">
<!--                        <div th:if="${user.roles.contains(Role.ROLE_ADMIN)}">-->
<!--                            <span class="badge text-bg-primary fs-6"></span>-->
<!--                        </div>-->
                        <div
                                th:text="${user.roles}">

                        </div>

<!--                        <c:set var="key" value="${userM.role}"/>-->
<!--                        <c:forEach var="role" items="${requestScope.roleList}">-->
<!--                            <c:choose>-->
<!--                                <c:when test="${userM.role == role.id}">-->

<!--                                    <c:choose>-->
<!--                                        <c:when test="${userM.role eq '3'}">-->
<!--                                                <span class="badge text-bg-primary fs-6">-->
<!--                                        </c:when>-->
<!--                                        <c:when test="${userM.role eq '2'}">-->
<!--                                                <span class="badge text-bg-success fs-6">-->
<!--                                        </c:when>-->
<!--                                        <c:when test="${userM.role eq '0'}">-->
<!--                                                <span class="badge text-bg-danger fs-6">-->
<!--                                        </c:when>-->
<!--                                    </c:choose>-->

<!--                                    <c:choose>-->
<!--                                        <c:when test="${language == 'ua'}">-->
<!--                                            <c:out value="${role.roleUa}"/>-->
<!--                                        </c:when>-->
<!--                                        <c:otherwise>-->
<!--                                            <c:out value="${role.roleEn}"/>-->
<!--                                        </c:otherwise>-->
<!--                                    </c:choose>-->
<!--                                </c:when>-->
<!--                            </c:choose>-->
<!--                        </c:forEach>-->
                        </span>
                    </td>

                    <c:if test="${sessionScope.user.role eq '3'}">
                        <td class="text-center">
                            <form method="post" action="/admin/user-list/block">
                                <c:choose>
                                    <c:when test="${userM.role eq '2'}">
                                        <button type="submit"
                                                id="user_block"
                                                name="user_block"
                                                th:value="${user.id}"
                                                class="btn btn-danger mx-1"
                                                th:text="#{user.block}">
                                        </button>
                                    </c:when>
<!--                                    <c:when test="${userM.role eq '0'}">-->
<!--                                        <button type="submit"-->
<!--                                                id="user_unblock"-->
<!--                                                name="user_block"-->
<!--                                                th:value="${user.id}"-->
<!--                                                class="btn btn-success mx-1"-->
<!--                                                th:text="#{user.unblock}">-->
<!--                                        </button>-->
<!--                                    </c:when>-->
                                </c:choose>
                            </form>
                        </td>
                    </c:if>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="../../static/js/addUrlParameter.js"></script>

</div>